# Compiled Object files
#*.out
*.slo
*.lo
*.o
#*.files
#*.list
*.vim

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.cmake
CMakeFiles/
tags
common/CMakeFiles/
net/CMakeFiles/
CMakeCache.txt
net/CMakeCache.txt
cscope.*
#Debug
